@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}
.card {
  text-align: center;
  display: inline-block;
  margin: 40px;
  height: 450px;
  width: 300px;
  padding: 10px;
  padding-top: 150px;
  border-radius: 10px;
  position: relative;
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  &:before {
    position: absolute;
    top: 2px;
    left: 20px;
    font-size: 80px;
  }
  &:after {
    position: absolute;
    bottom: 2px;
    right: 20px;
    font-size: 80px;
  }
  &.spade:before,
  &.spade:after {
    content: "♠";
  }
  &.heart:before,
  &.heart:after {
    content: "♥";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "♦";
    color: red;
  }
  &.club:before,
  &.club:after {
    content: "♣";
  }
}
